@page "/movies/create"
@using Projekt.SharedKernel.Dto.Movie
@inject IMovieService _movieService
@inject NavigationManager _navigationManager
@using Projekt.Domain.Models

@using Blazored.FluentValidation

<PageTitle>Create Movie</PageTitle>
<h1>Create Movie</h1>

<EditForm Model="@_movie" OnValidSubmit="@CreateMovie">
    <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="@true" />
    <ValidationSummary />

    <div class="form-group">
        <label>Title: </label>
        <InputText @bind-Value="@_movie.Title" class="form-control" />
        <ValidationMessage For="@(() => _movie.Title)" />
    </div>
    <div class="form-group">
        <label>Genre: </label>
        <InputSelect @bind-Value="_movie.Genre" class="form-control">
            @foreach (var genre in Enum.GetValues(typeof(MovieGenre)))
            {
                <option value="@genre">@genre</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => _movie.Genre)" />
    </div>
    <div class="form-group">
        <label>Length (minutes): </label>
        <InputNumber @bind-Value="@_movie.FilmLength" class="form-control" />
        <ValidationMessage For="@(() => _movie.FilmLength)" />
    </div>
    <div class="form-group">
        <label>Release Date: </label>
        <InputDate @bind-Value="_movie.ReleaseDate" class="form-control" />
        <ValidationMessage For="@(() => _movie.ReleaseDate)" />
    </div>
    <br />
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
        <button @onclick="CancelCreate" class="btn btn-secondary" type="button">Cancel</button>
    </div>
</EditForm>

@code {
    private FluentValidationValidator? _fluentValidationValidator;
    private CreateMovieDto _movie = new CreateMovieDto();

    private void CreateMovie()
    {
        _movieService.Create(_movie);
        _navigationManager.NavigateTo("/movies");
    }

    private void CancelCreate()
    {
        _navigationManager.NavigateTo("/movies");
    }
}
